 * {
    margin: 0;
    padding: 0;
   }
.main-bg-img{
	background: url(/img/skaniya.jpg) no-repeat center;
	background-size: cover; 
	height: 1000px;
}
.main-content-opacity{
	background: rgba(0, 0, 0, 0.8);
	height: 1000px;
}
.main-content{
	text-align: center;
	padding-top: 400px;
}
.main-content-btn{
    width: 200px;
	margin-right: 40px;
}
.form-signin{
	
	max-width: 400px;
	padding: 300px 15px;
	margin: 0 auto;
}
.form-signin h2{
	color: white;
	text-align: center;
}
.form-signin input{
margin-bottom: 15px;
}
.email-edit{
	display: none;
}